<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dyy.newtest">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.MyApplacation"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".ui.activity.service.UploadActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.BigPicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/dialog" />

        <meta-data
            android:name="com.dyy.newtest.view.MyGlideModule"
            android:value="GlideModule" />
        <!-- <activity android:name=".ui.activity.LargeImageActivity"></activity> -->
        <!-- <activity android:name=".ui.activity.FragmentActivity"></activity> -->
        <!-- <activity android:name=".ui.activity.EventBusActivity"></activity> -->
        <!-- <activity android:name=".ui.activity.BuliderActivity"></activity> -->
        <!-- <activity android:name=".ui.activity.RxJava2Activity"></activity> -->
        <!-- <activity android:name=".ui.activity.MyViewActivity"></activity> -->
        <!-- <activity android:name=".ui.activity.CircleProgressActivity"></activity> -->
        <!-- <activity android:name=".ui.activity.LayoutInflaterActivity"></activity> -->
        <activity
            android:name=".ui.activity.MyViewGroupActivity"
            android:finishOnTaskLaunch="true"
            android:launchMode="standard" />
        <!-- <activity android:name=".ui.activity.launchmode.LaunchModeActivity"></activity> -->
        <activity
            android:name=".ui.activity.launchmode.StandardActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:launchMode="standard" />
        <activity
            android:name=".ui.activity.launchmode.SingleTopActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.launchmode.SingleTaskActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.dyy.newtest.ui.activity.launchmode.SingleTaskActivity" />
        <activity
            android:name=".ui.activity.launchmode.SingleInstanceActivity"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity android:name=".ui.activity.launchmode.FlagsSingleTopActivity" />
        <activity android:name=".ui.activity.launchmode.FlagsSingleTaskActivity" />
        <activity android:name=".ui.activity.launchmode.FlagsSingleInstanceActivity" />

        <service
            android:name=".ui.service.ServiceToStartActivity"
            android:description="@string/service_de"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_arrow"
            android:label="@string/service_name" />

        <!-- <activity android:name=".ui.activity.PopupwindowActivity"></activity> -->
        <!-- <activity android:name=".ui.activity.AddGoodsActivity"></activity> -->
        <activity android:name=".ui.activity.DpToPxActivity" />
        <!-- <activity android:name=".ui.activity.DrawableActivity"></activity> -->
        <!-- <activity android:name=".ui.activity.DrawableSplashActivity"></activity> -->
        <!-- <activity android:name=".ui.activity.ipc.IPCActivity" /> -->
        <activity
            android:name=".ui.activity.ipc.SecondActivity"
            android:process=":second" />
        <activity
            android:name=".ui.activity.ipc.ThirdActivity"
            android:process="com.dyy.ipc.thirdActivity" />
        <!-- <activity android:name=".ui.activity.ViewActivity"></activity> -->
        <!-- <activity android:name=".ui.activity.objectanimator.ObjectAnimatorActivity"></activity> -->
        <!-- <activity android:name=".ui.activity.handler.HandlerActivity"></activity> -->
        <!-- <activity android:name=".ui.activity.DeleteListItemActivity"></activity> -->
        <!-- <activity android:name=".ui.activity.glide.Main2Activity"></activity> -->
        <!-- <activity android:name=".ui.activity.glide.BItmapScaleActivity"></activity> -->
        <!-- <activity android:name=".ui.activity.layout.IncludeActivity"></activity> -->
        <!-- <activity android:name=".ui.activity.ErrorNoDataActivity"></activity> -->
        <!-- <activity android:name=".ui.activity.glide.BigBitmapActivity"></activity> -->
        <!-- <activity android:name=".ui.activity.glide.CircleBitmapActivity"></activity> -->
        <!-- <activity android:name=".ui.activity.glide.ProgressGlideActivity"></activity> -->
        <service
            android:name=".ui.service.PlayerService"
            android:enabled="true"
            android:exported="false" />

        <!-- <activity android:name=".ui.activity.service.PlayerServiceActivity"></activity> -->
        <!-- <activity android:name=".ui.activity.service.PlayerActivity"></activity> -->
        <service
            android:name=".ui.service.BinderService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ui.service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".ui.service.MusicService"
            android:exported="false" />
        <service
            android:name=".ui.service.ForegroundService"
            android:exported="false" />
        <service
            android:name=".ui.service.UpLoadService"
            android:exported="false" />

        <!-- <activity android:name=".ui.activity.service.ForegroundActivity"></activity> -->
        <!-- <receiver android:name=".ui.receiver.ForegroundReceiver" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="paly"></action> -->
        <!-- <action android:name="pause"></action> -->
        <!-- <action android:name="stop"></action> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- <activity android:name=".ui.activity.service.NotificationActivity"></activity> -->
        <!--<activity android:name=".ui.activity.service.UploadActivity"></activity>-->
    </application>

</manifest>